@charset "utf-8";

body {
	min-width: 320px;
}
.b-block{
	width: calc(100% - 48px);
}
h1{
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 32px;
}
h2.b-title{
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 50px;
}

.b-menu{
	display: none;
}

.b-head{
	background-position: 0% 50%;
	padding-top: 20px;
	padding-bottom: 100px;
}
	.b-head-text {
	    max-width: 405px;
	    margin: 0 auto 50px auto;
	}
		.b-head-text br{
			display: none;
		}
	.b-logo {
	    width: 155px;
	    height: 106px;
	    background-size: 155px;
	    margin-right: 26px;
	}
	.b-menu-mobile {
	    display: block;
	}
		.b-head-feedback {
		    padding-top: 36px;
		}
.b-statistics-item{
	text-align: center;
}
	.b-statistics-item img{
		height: 82px;
	}
	.b-statistics-item span{
		padding-top: 22px;
	}
.b-statistics-item-top {
    margin-bottom: 4px;
}
.b-statistics-slider{
    margin-left: -24px;
    width: calc(100% + 48px);
}
.b-statistics-slider .slick-dots {
    bottom: -40px;
}

.b-country-list{
	margin-bottom: 94px;
}	
	.b-country-slider {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
	.b-country-wrap{
		margin-left: -12px;
    	width: calc(100% + 24px);
	}
	.b-country-wrap .slick-dots{
		bottom: -55px;
	}
	.b-country-item{
		width: calc(50% - 12px);
		margin: 0 12px;
	}
	.b-country-list.square .b-country-item{

	}
	.b-country-item.wide{
		margin: 0;
	}
.b-3 {
    margin-bottom: 67px;
}
.b-3-content-bottom{
	padding: 50px 24px;
}
	.b-3-content-bottom p {
	    font-size: 40px;
	    line-height: 50px;
	}
.b-3-woman {
    max-width: 644px;
    left: calc(50% - 322px);
}
.b-3-cloud {
    position: absolute;
    z-index: 2;
    left: calc(50% - 286px);
    bottom: 238px;
    width: 577px;
    height: 490px;
    display: block;
}
.b-3-text{
	float: none;
	text-align: center;
	margin: 0 auto;
}
.b-3-text p,
.b-3-text p b{
	font-size: 40px;
	line-height: 50px;
}
.b-3-content-top {
    padding-top: 100px;
    padding-bottom: 452px;
}
.b-3-back {
    position: absolute;
    top: 114px;
    left: 0;
    width: 100%;
    height: 712px;
    background-position: 50% 50%;
    background-image: url(../i/b-3-back-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.b-4 h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 50px;
}
.coin-1, .coin-2 {
    position: absolute;
}
.b-4-slider{
    margin-left: -24px;
    width: calc(100% + 48px);
}
	.b-4-item{
		width: 100%;
		margin-right: 0;
	}
		.b-4-item p{
			padding: 0;
			max-width: 410px;
			margin: 0 auto;
		}
		.b-4-item:nth-child(3n) p{
			padding: 0;
		}
		.b-4-slider .slick-dots{
			bottom: -55px;
		}
.b-5-text {
    padding-top: 87px;
    padding-left: 0;
    max-width: 400px;
    padding-bottom: 83px;
}
	.b-5-text h2 {
	    font-size: 40px;
	    line-height: 50px;
	    margin-bottom: 30px;
	}
	.b-5-text > p {
	    font-size: 18px;
	    line-height: 28px;
	    margin-bottom: 40px;
	}
	.b-5-text .b-btn{
		padding: 20px 42px 21px 42px;
	}
	.b-5-manager {
	    width: 318px;
		height: 520px;
		right: -85px;
	}
	.b-5-window{
		display: block;
	}
.b-5-name{
	display: none;
}
.b-reviews{
	margin-bottom: 57px;
}
	.b-reviews h2{
		margin-bottom: 40px;
	}
	.b-review-list{
		margin-bottom: 98px;
	}
		.b-review-item{
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
		}
			.b-review-cont{
				max-width: 410px;
				margin: 0 auto;
			}
	.b-review-slider .slick-dots{
		bottom: -55px;
	}
.b-mailing{
	margin-bottom: 60px;
}
	.b-mailing-cont {
	    padding: 34px 24px 38px 24px;
	}
		.b-mailing-cont h2 {
		    font-size: 32px;
		    line-height: 40px;
		}
		.b-mailing-form .b-btn-submit {
		    width: 236px;
		    min-width: 236px;
		    padding: 24px 22px 25px 22px;
		}
		.b-mailing-form input[type=text] {
		    margin-right: 20px;
	    	width: calc(100% - 262px);
		}
			.b-mailing-form .b-checkbox p {
			    font-size: 13px;
			}
		.b-widget-vk {
		    float: none;
		    height: 200px;
		    margin-top: 24px;
		}
.b-articles {
    margin-bottom: 60px;
}
	.b-article-list{
		margin-bottom: 90px;
	}
	.b-article-slider{
		margin-left: -24px;
    	width: calc(100% + 48px);
	}
		.b-article-item{
			width: 100%;
			margin: 0 12px;
		}
		/*.b-article-item:nth-child(4n){
			margin-right: 0;
		}*/
		.b-article-slider .slick-dots{
			bottom: -50px;
		}
.b-card{
	width: calc(100%/3 - 16px);
	margin-right: 20px;
}
.b-tour-operators {
    padding: 40px 0 70px 0;
    margin-bottom: 50px;
}
	.b-tour-operators h2{
		margin-bottom: 35px;
	}
.b-seo {
    margin-bottom: 60px;
}
	.b-seo-two-blocks .first {
	    margin-right: 0;
	    margin-bottom: 32px;
	}
	.b-seo-two-blocks .seo-block {
	    width: 100%;
	}
	.b-seo h2 {
		text-align: left;
	    margin-bottom: 16px;
	}
	.b-seo-separator {
	    margin: 32px 0 24px 0;
	}
	.b-seo .center{
		text-align: left;
	}
.b-footer-item.column-1 {
    margin-right: 0;
    width: 42%;
}
.b-footer-item.column-2,
.b-footer-item.column-3{
    display: none;
}
.b-footer-contacts {
	padding-left: 16px;
    width: 58%;
}
.b-footer-bottom-left {
    max-width: 320px;
    margin-right: 24px;
}
.b-redder {
    margin-top: 0;
}
	.b-redder span{
		display: block;
	}
.b-copyright{
	margin-top: 0;
	margin-right: 0;
}
.b-footer-politics{
	margin-top: 14px;
	margin-right: 0;
}
.b-redder-logo {
    margin-top: 6px;
    margin-left: 0;
}
.b-footer-top{
	margin-bottom: 32px;
}
	.b-footer-top .visa-master{
		display: inline-block;
	}
	.b-footer-bottom .visa-master{
		display: none;
	}
