@charset "utf-8";

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype'),
        url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype'),
        url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype'),
        url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.eot');
    src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff'),
        url('../fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('../fonts/Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9sq9ju');
  src:  url('../fonts/icomoon.eot?9sq9ju#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9sq9ju') format('truetype'),
    url('../fonts/icomoon.woff?9sq9ju') format('woff'),
    url('../fonts/icomoon.svg?9sq9ju#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e903";
}
.icon-next:before {
  content: "\e904";
}
.icon-checked:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-star-fill:before {
  content: "\e907";
}
.icon-sun:before {
  content: "\e908";
}
.icon-wave:before {
  content: "\e909";
}

html,
body {
	position: relative;
}
body {
	min-width: 1280px;
	font-family: 'Gilroy-Regular';
	font-size: 16px;
	line-height: 24px;
	color: #434343;
	text-align: left;
}
a{
	text-decoration: none;
}

label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
textarea::-webkit-input-placeholder {
	color: #777;
}
textarea:-moz-placeholder {
	color: #777;
}

h1{
	font-family: 'Gilroy-Bold';
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 36px;
	color: #FFF;
	text-align: center;
}
h2.b-title{
	font-family: 'Gilroy-Bold';
	font-size: 45px;
	line-height: 55px;
	margin-bottom: 60px;
	color: #434343;
	text-align: center;
}

.hide{
	display: none !important;
}
.center{
	text-align: center;
}
.dashed{
	border-bottom: 1px dashed #434343;
}
.dashed:hover{
	border-bottom: 1px dashed transparent;
}

.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1280px;
	margin: 0px auto;
}

b{
	font-family: 'Gilroy-Bold';
}

/*====Кнопки====*/

.b-btn{
	position: relative;
	color: #FFF;
	border-radius: 100px;
	display: inline-block;
	min-width: 300px;
	padding: 20px 52px 21px 52px;
	text-align: center;
	background-image: -moz-linear-gradient(-90deg, #FFBD73 0%, #ED7408 100%);
	background-image: -webkit-linear-gradient(-90deg, #FFBD73 0%, #ED7408 100%);
	background-image: -ms-linear-gradient(-90deg, #FFBD73 0%, #ED7408 100%);
	box-shadow: 0 10px 25px 0 rgba(191,90,0,0.40), inset 0 -27px 0px -23px rgba(191,90,0,0.40), inset 0 15px 0px -12px rgba(246, 231, 217, 0.4);
	-webkit-transition: box-shadow 150ms ease-out, transform 100ms ease-out;
	   -moz-transition: box-shadow 150ms ease-out, transform 100ms ease-out;
	    -ms-transition: box-shadow 150ms ease-out, transform 100ms ease-out;
	   	 -o-transition: box-shadow 150ms ease-out, transform 100ms ease-out;
			transition: box-shadow 150ms ease-out, transform 100ms ease-out;


}
.b-btn.one-line{
	padding: 24px 52px 25px 52px;
}
	.b-btn .btn-bold{
		position: relative;
		z-index: 5;
		font-family: 'Gilroy-Heavy';
		font-size: 22px;
		line-height: 22px;
		text-transform: uppercase;
		text-shadow: 0 1px 3px rgba(0,0,0,0.20);
		letter-spacing: 1px;
	}

	.b-btn .btn-regular{
		position: relative;
		z-index: 5;
		font-family: 'Gilroy-Regular';
		font-size: 20px;
		line-height: 20px;
		margin-top: 7px;
		letter-spacing: 0.6px;
	}

	.b-btn:before,
	.b-btn:after{
		position: absolute;
		content: "s";
		font-size: 0px;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		border-radius: 100px;
		box-shadow: inset 0 -27px 0px -23px rgba(191,90,0,0.40), inset 0 15px 0px -12px rgba(246, 231, 217, 0.4);
		background-image: -moz-linear-gradient( 90deg, rgba(191,90,0,0.50) 0%, #FFBD73 100%);
		background-image: -webkit-linear-gradient( 90deg, rgba(191,90,0,0.50) 0%, #FFBD73 100%);
		background-image: -ms-linear-gradient( 90deg, rgba(191,90,0,0.50) 0%, #FFBD73 100%);
		opacity: 0;
	}
	.b-btn:before{
		-webkit-transition: opacity 150ms ease-out;
		   -moz-transition: opacity 150ms ease-out;
		    -ms-transition: opacity 150ms ease-out;
		   	 -o-transition: opacity 150ms ease-out;
				transition: opacity 150ms ease-out;
		z-index: 1;
	}
	.b-btn:after{
		background-image: -moz-linear-gradient( 90deg, rgba(191,90,0) 0%, #FFBD73 100%);
		background-image: -webkit-linear-gradient( 90deg, rgba(191,90,0) 0%, #FFBD73 100%);
		background-image: -ms-linear-gradient( 90deg, rgba(191,90,0) 0%, #FFBD73 100%);
		-webkit-transition: opacity 100ms ease-out;
		   -moz-transition: opacity 100ms ease-out;
		    -ms-transition: opacity 100ms ease-out;
		   	 -o-transition: opacity 100ms ease-out;
				transition: opacity 100ms ease-out;
		z-index: 2;
	}
		.b-btn:hover:before{
			opacity: 1;
		}
		.b-btn:active:after{
			opacity: 1;
		}
.b-btn-blue{
	background-image: -moz-linear-gradient(-90deg, #68A9FB 0%, #095AC0 100%);
	background-image: -webkit-linear-gradient(-90deg, #68A9FB 0%, #095AC0 100%);
	background-image: -ms-linear-gradient(-90deg, #68A9FB 0%, #095AC0 100%);
	box-shadow: 0 10px 25px 0 rgba(9,90,192,0.40), inset 0 -27px 0px -23px rgba(9,90,192,0.40), inset 0 15px 0px -12px rgba(213, 221, 246, 0.4);
}
	.b-btn.b-btn-blue:before,
	.b-btn.b-btn-blue:after{
		box-shadow: inset 0 -27px 0px -23px rgba(9,90,192,0.40), inset 0 15px 0px -12px rgba(246, 231, 217, 0.4);
		background-image: -moz-linear-gradient( 90deg, rgba(7,67,146,0.70) 0%, #68A9FB 100%);
		background-image: -webkit-linear-gradient( 90deg, rgba(7,67,146,0.70) 0%, #68A9FB 100%);
		background-image: -ms-linear-gradient( 90deg, rgba(7,67,146,0.70) 0%, #68A9FB 100%);
	}
	.b-btn.b-btn-blue:after{
		background-image: -moz-linear-gradient( 90deg, rgba(7,67,146) 0%, #68A9FB 100%);
		background-image: -webkit-linear-gradient( 90deg, rgba(7,67,146) 0%, #68A9FB 100%);
		background-image: -ms-linear-gradient( 90deg, rgba(7,67,146) 0%, #68A9FB 100%);
	}

/*=======Главная========*/

.b-head{
	background-size: cover;
    min-height: 100vh;
    max-height: 1080px;
    background-position: 50% 50%;
	padding-top: 76px;
	/*padding-bottom: 94px;*/
}
		.b-head-top{
			position: relative;
			z-index: 5;
		}
			.b-logo{
				display: inline-block;
				width: 125px;
				height: 86px;
				background-position: 50% 50%;
			    background-image: url(../i/logo.png);
			    background-repeat: no-repeat;
			    background-size: 125px;
			    margin-right: 26px;
			}
			.b-logo.hide-logo{
				opacity: 0;
			}
			.b-head-feedback{
				display: inline-block;
				vertical-align: top;
				padding-top: 26px;
			}
				.b-head-phone{
					font-family: 'Gilroy-Bold';
					font-size: 20px;
					line-height: 20px;
					margin-bottom: 8px;
				}
				.b-head-feedback a{
					color: #FFF;
				}
				.b-head-feedback a.dashed{
					border-bottom: 1px dashed #FFF;
				}
				.b-head-feedback a.dashed:hover{
					border-bottom: 1px dashed transparent;
				}
		.b-head-content{
			position: relative;
			z-index: 5;
			text-align: center;
			width: 731px;
			margin: 0 auto;
			display: table;
    		min-height: calc(100vh - 170px);
		}
			.b-head-content .b-block{
				display: table-cell;
    			vertical-align: middle;
    			padding-bottom: 170px;
			}
			.b-head-text{
				font-size: 20px;
				line-height: 28px;
				color: #FFF;
				margin-bottom: 57px;
			}
	.b-head-white{
		position: absolute;
	    bottom: -1px;
	    z-index: 2;
	    height: 318px;
	    width: 100%;
	    background-position: left bottom;
	    background-image: url(../i/head-white.png);
	    background-repeat: repeat-x;
	    background-size: contain;
	}
	.b-head-gradient{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	    background-image: -webkit-linear-gradient(132deg, #0080FF 0%, #FF912A 100%);
	    background-image: -o-linear-gradient(132deg, #0080FF 0%, #FF912A 100%);
	    background-image: linear-gradient(222deg, #0080FF 0%, #FF912A 100%);
	    opacity: 0.8;
	}

.b-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(60,63,66,0.6);
	z-index: 10;
}
	.b-menu-logo{
		position: absolute;
		top: 5px;
		left: 0;
		width: 125px;
		height: 86px;
		background-position: 50% 50%;
	    background-image: url(../i/logo.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transition: width 150ms ease-out, height 150ms ease-out, opacity 0ms ease-out, visibility 0ms ease-out;
		   -moz-transition: width 150ms ease-out, height 150ms ease-out, opacity 0ms ease-out, visibility 0ms ease-out;
		    -ms-transition: width 150ms ease-out, height 150ms ease-out, opacity 0ms ease-out, visibility 0ms ease-out;
		   	 -o-transition: width 150ms ease-out, height 150ms ease-out, opacity 0ms ease-out, visibility 0ms ease-out;
				transition: width 150ms ease-out, height 150ms ease-out, opacity 0ms ease-out, visibility 0ms ease-out;
	}
	.b-menu ul{
		display: inline-block;
		padding: 8px 0;
		-webkit-transition: transform 150ms ease-out, padding 150ms ease-out;
		   -moz-transition: transform 150ms ease-out, padding 150ms ease-out;
		    -ms-transition: transform 150ms ease-out, padding 150ms ease-out;
		   	 -o-transition: transform 150ms ease-out, padding 150ms ease-out;
				transition: transform 150ms ease-out, padding 150ms ease-out;
	}
		.b-menu li{
			display: inline-block;
			margin-right: 28px;
			-webkit-transition: margin-right 150ms ease-out;
			   -moz-transition: margin-right 150ms ease-out;
			    -ms-transition: margin-right 150ms ease-out;
			   	 -o-transition: margin-right 150ms ease-out;
					transition: margin-right 150ms ease-out;
		}
		.b-menu li:last-child{
			margin-right: 0;
		}
			.b-menu li a{
				display: inline-block;
				color: #FFF;
				line-height: 20px;
				padding: 6px 20px 7px 20px;
				border-radius: 6px;
				border: 1px solid transparent;
			}
			.b-menu li a:hover{
				border: 1px solid #FFF;
			}
			.b-menu li a.active{
				color: #434343;
				background-color: #FFF;
				border: 1px solid #FFF;
			}
	.b-menu.transform ul{
		-webkit-transform: translateX(120px);
		   -moz-transform: translateX(120px);
	    	-ms-transform: translateX(120px);
	    	 -o-transform: translateX(120px); 
	    		transform: translateX(120px);
		padding: 17px 0 19px 0;
	}
		.b-menu.transform .b-menu-logo{
			opacity: 1;
			visibility: visible;
			width: 88px;
			height: 60px;
			-webkit-transition: width 150ms ease-out, height 150ms ease-out, opacity 150ms ease-out, visibility 150ms ease-out;
			   -moz-transition: width 150ms ease-out, height 150ms ease-out, opacity 150ms ease-out, visibility 150ms ease-out;
			    -ms-transition: width 150ms ease-out, height 150ms ease-out, opacity 150ms ease-out, visibility 150ms ease-out;
			   	 -o-transition: width 150ms ease-out, height 150ms ease-out, opacity 150ms ease-out, visibility 150ms ease-out;
					transition: width 150ms ease-out, height 150ms ease-out, opacity 150ms ease-out, visibility 150ms ease-out;
		}
		.b-menu.transform .b-search-tours{
			-webkit-transform: translateY(10px);
			   -moz-transform: translateY(10px);
		    	-ms-transform: translateY(10px);
		    	 -o-transform: translateY(10px); 
		    		transform: translateY(10px);
		    border-radius: 6px;
		}
		.b-menu.transform li{
			margin-right: 5px;
		}
	
	.b-search-tours{
		display: inline-block;
		float: right;
		padding: 13px 35px 14px 35px;
		background-color: #1F82FF;
		color: #FFF;
		font-family: 'Gilroy-Bold';
		-webkit-transition: transform 150ms ease-out, border-radius 150ms ease-out;
		   -moz-transition: transform 150ms ease-out, border-radius 150ms ease-out;
		    -ms-transition: transform 150ms ease-out, border-radius 150ms ease-out;
		   	 -o-transition: transform 150ms ease-out, border-radius 150ms ease-out;
				transition: transform 150ms ease-out, border-radius 150ms ease-out;
	}
		.b-search-tours p{
			display: inline-block;
			margin-right: 16px;
			font-size: 16px;
			line-height: 16px;
		}
		.b-search-tours .icon-next{

		}
			.b-search-tours .icon-next:before{
				font-size: 13px;
			}

.b-statistics{
	margin-bottom: 96px;
}
	.b-statistics-item{
		float: left;
	}
	.statistics-1{
		width: 32%;
	}
	.statistics-2{
		width: 36%;
	}
	.statistics-3{
		width: 32%;
	}
		.b-statistics-item-top{
			margin-bottom: 8px;
		}
			.b-statistics-item img{
				height: 75px;
				display: inline-block;
				vertical-align: top;
				margin-right: 4px;
			}
			.b-statistics-item span{
				display: inline-block;
				vertical-align: top;
				padding-top: 17px;
				font-family: 'Gilroy-Bold';
				font-size: 44px;
				line-height: 54px;
			}
			.b-statistics-item p{
				font-size: 24px;
				line-height: 32px;
			}

.b-popular{
	z-index: 1;
}
	.b-country-list{
		margin-bottom: 70px;
	}
		.b-country-item{
			position: relative;
			float: left;
			width: calc(25% - 18px);
			height: 383px;
			margin-right: 24px;
			margin-bottom: 24px;
			border-radius: 5px;
			overflow: hidden;
			color: #FFF;
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.b-country-item.no-margin{
			margin-right: 0;
		}
		.b-country-item.wide{
			width: calc(50% - 12px);
		}
			.b-country-item .blackout{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 60%;
				opacity: 0.6;
				background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);
				background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);
				background-image: linear-gradient(rgba(0,0,0,0.00) 0%, #000000 100%);
			}
			.b-country-item .content{
				height: 100%;
				padding: 20px 22px;
			}
			.b-country-item.wide .content{
				padding: 40px 32px;
			}
				.b-country-info{
					position: absolute;
				    bottom: 20px;
				    left: 22px;
				    width: calc(100% - 44px);
				}
				.b-country-item.wide .b-country-info{
					bottom: 40px;
				    left: 32px;
				    width: calc(100% - 64px);
				}
					.info-left{
						display: inline-block;
						width: calc(100% - 72px);
					}
						.info-left .visa{
							font-family: 'Gilroy-Light';
							font-size: 16px;
							line-height: 20px;
							margin-bottom: 4px;
						}
						.info-left h3{
							font-family: 'Gilroy-Bold';
							font-size: 28px;
							line-height: 28px;
							margin-bottom: 10px;
						}
						.info-left .price{
							font-size: 16px;
							line-height: 16px;
						}
					
					.info-right{
						display: inline-block;
						width: 68px;
						text-align: right;
					}
						.info-right .icon{
							display: inline-block;
							vertical-align: top;
							margin-right: 6px;
						}
						.info-right .air-t{
							margin-bottom: 10px;
						}
							.info-right .air-t p{
								display: inline-block;
								vertical-align: top;
	    						padding-top: 2px;
								font-size: 20px;
								line-height: 24px;
							}
							.info-right .icon-sun:before{
								font-size: 26px;
							}
						.info-right .water-t{
							line-height: 20px;
						}
							.info-right .water-t p{
								display: inline-block;
								vertical-align: top;
								font-size: 16px;
								line-height: 16px;
							}
							.info-right .icon-wave{
								padding-top: 3px;
							}
							.info-right .icon-wave:before{

								vertical-align: top;
								font-size: 10px;
							}
		.b-country-item.wide h3{
			font-family: 'Gilroy-Bold';
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;
		}
			.b-country-item.wide p{
				width: 100%;
				max-width: 524px;
				font-size: 20px;
				line-height: 28px;
			}

.b-3{
	z-index: 0;
	margin-bottom: 130px;
}
	.b-3-back{
		position: absolute;
		bottom: 260px;
		left: 0;
		width: 100%;
		height: 1188px;
		background-position: 50% 50%;
	    background-image: url(../i/b-3-back.svg);
    	background-size: cover;
    	background-repeat: no-repeat;
	}
		.b-3-content{
	
		}
			.b-3-content-top{
				position: relative;
				z-index: 1;
				padding-top: 210px;
				padding-bottom: 268px;
			}
				.b-3-woman{
					position: absolute;
					top: 57px;
					left: -120px;
					z-index: 1;
				}
				.b-3-text{
					position: relative;
					z-index: 2;
					float: right;
					width: 488px;
				}
					.b-3-text p{
						font-family: 'Gilroy-Light';
						font-size: 50px;
						line-height: 60px;
					}
						.b-3-text p b{
							font-size: 55px;
							line-height: 60px;
						}
			.b-3-content-bottom{
				position: relative;
				z-index: 2;
				background-image: -webkit-linear-gradient(45deg, #68A9FB 0%, #095AC0 100%);
				background-image: -o-linear-gradient(45deg, #68A9FB 0%, #095AC0 100%);
				background-image: linear-gradient(45deg, #68A9FB 0%, #095AC0 100%);
				box-shadow: 0 20px 35px 0 rgba(0,0,0,0.15);
				padding: 77px 153px 83px 153px;
				text-align: center;
				max-width: 1186px;
				margin: 0 auto;
				border-radius: 10px;
			}
				.b-3-content-bottom p{
					color: #FFF;
					font-family: 'Gilroy-Light';
					font-size: 50px;
					line-height: 64px;
				}
.b-4{
	margin-bottom: 83px;
}
	.b-4 h2{
		text-align: center;
		font-family: 'Gilroy-Bold';
		font-size: 80px;
		line-height: 80px;
		margin-bottom: 80px;
	}
	.b-4-list{

	}
		.b-4-item{
			float: left;
			width: calc(100%/3 - 16px);
			margin-right: 24px;
			text-align: center;
		}
		.b-4-item:nth-child(3n){
			margin-right: 0;
		}
			.b-4-icon{
				margin-bottom: 24px;
			}
			.b-4-item h3{
				max-width: 282px;
				margin: 0 auto;
				font-family: 'Gilroy-Bold';
				font-size: 32px;
				line-height: 40px;
				margin-bottom: 25px;
			}
			.b-4-item p{
				font-size: 20px;
				line-height: 30px;
			}
		#coin-parallax{
			position: relative;
			width: 137px;
			height: 143px;
			margin: 0 auto;
		}
			.coin-1,
			.coin-2{
				position: relative;
				width: 100%;
				height: 100%;
				z-index: 2;
			}
				.coin-1 img{
					width: 52px;
					height: 52px;
					position: absolute;
					top: 0;
					right: 0;
				}
				.coin-2 img{
					width: 45px;
					height: 45px;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			.main-img{
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
			}

.b-5{

}
	.b-5-text{
		padding-top: 123px;
    	padding-left: 85px;
		max-width: 572px;
	}
		.b-5-text h2{
			font-family: 'Gilroy-Bold';
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 38px;
		}
		.b-5-text > p{
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 50px;
		}
	.b-5-manager{
		width: 410px;
	    height: 705px;
	    background-image: url(../i/b-5-woman.jpg);
	    background-size: cover;
	    position: absolute;
	    top: -9px;
    	right: 159px;
	}
		.b-5-name{
			position: absolute;
			bottom: 90px;
    		right: 16px;
			background-color: #FFF;
			border-radius: 6px;
			overflow: hidden;
			padding: 20px 30px 18px 30px;
		}	
			.b-5-name p{
				font-size: 24px;
				line-height: 28px;
			}
			.b-5-name small{
				font-size: 16px;
				line-height: 16px;
			}

/*input[type=text],
input[type=tel],
input[type=submit],
input[type=number],
input[type=search],
textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=text],
input[type=number],
input[type=phone],
input[type=search]{
	font-family: DINPro-Light;
	padding: 11px 24px 13px 24px;
	font-size: 18px;
	color: #454545;
	line-height: 24px;
	display: inline-block;
	border: 1px solid rgba(86, 69, 49, 0.5);
	border-radius: 3px;
	letter-spacing: 0;
}*/


@media (-webkit-min-device-pixel-ratio: 1.5) {
	
	.b-logo{
	    background-image: url(../i/logo@2x.png);
	}

}